:root {
  --main: #263749;
  --main-hover: #345170;
  --status-font: black;
  --status-shadow: white;
  --status-bg: white;
  --depth: 100%;
}

body {
  color: #555;
  background-color: #fdfdff;
  font-family: 'Quicksand', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* Forms */
.form-group > * {
  margin-bottom: 1.5rem;
}

/* Components */
.button {
  color: #efefef;
  border: none;
  border-radius: 1rem;
  background-color: var(--main);
  padding: .5rem 2rem;
  transition-duration: 0.25s;
  cursor: pointer;
  outline: none;
}
.button:hover {
  color: white;
  text-decoration: none;
  background-color: var(--main-hover);
}
.navbar {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbar .row > img {
  height: 3rem;
  margin: 1rem;
}
.navbar .title {
  padding-top: 1rem;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  align-items: center;
}
.icon {
  margin: .5rem;
  border: transparent;
  border-radius: 1rem;
  cursor: pointer;
  transition-duration: 0.25s;
}
.icon:hover {
  box-shadow: 0 0 1rem forestgreen;
}
.modal-scrollbox {
  max-height: 70vh;
  overflow-y: auto;
}

/* Config */
.btn-config {
  position: absolute;
  top: 5rem;
  right: 1.25rem;
  transition-duration: 0.5s;
  border: none;
  background: none;
  cursor: pointer;
}
.btn-config:hover {
  transform: rotate(90deg);
}
.btn-config:focus {
  outline: none;
}
.btn-config img {
  width: 3.5rem;
  height: auto;
}
.config-table table {
  max-width: 1000px;
}
.config-table th {
  background-color: #ddd;
}
.config-table td.value {
  width: 250px;
}
.config-table td.value input {
  width: 250px;
}

@media(max-width: 600px) {
  :root {
    font-size: 8pt;
  }
  .config-table td.value {
    width: 80px;
  }
  .config-table td.value input {
    width: 80px;
  }
}
