:root {
  --main: #263749;
  --main-hover: #345170;
}

body {
  color: #555;
  background-color: #fdfdff;
  font-family: 'Quicksand', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* Forms */
.form-group > * {
  margin-bottom: 15px;
}

/* Components */
.button {
  color: white;
  border: none;
  border-radius: 10px;
  background-color: var(--main);
  padding: 5px 25px;
  transition-duration: 0.25s;
  cursor: pointer;
}
.button:hover {
  background-color: var(--main-hover);
}
